.table-bg {
    margin: 20px;
}

.forum-title {
    margin-bottom: 1em !important;
}

.reading-table {
    border-collapse: collapse;
    width: 80%;
}
th, td {
    padding: 10px;
    border-bottom: 0.5px solid black !important;
    text-align: center !important;
    font-size: 14px !important;
}


.td-title {
    text-align: justify !important;
}

.table-item:hover {
    background-color: rgb(230, 230, 230);
    transition: 100ms;
}