.write-button {
    padding: 5px 10px;
    margin: 20px;
    border: none;
    background: #535353;
    color: lightgray;
}
.detail-page {
    padding: 10px;
    padding-left: 50px;
    margin: 20px;
}
.detail-box {
    width: 70%;
}
#detail-type {
    font-size: 15px;
    color: gray;
}

#detail-header, #detail-content {
    border-bottom: 0.5px solid lightgray ;
}

#detail-content {
    padding: 50px 0;
    min-height: 100px;
}

#detail-tool {
    padding: 20px 0;
}

.tool-btn {
    padding: 0 5px;
    font-size: 14px;
}