@font-face {
    font-family: 'Freesentation-9Black';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

#crsl-container {
    padding-bottom: 24px;
}

.crsl-item {
    position: relative;
    width: 100%;
    padding-bottom: 35%; /* 이미지 비율 유지 */
}

.crsl-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0; /* 이미지가 아래로 배치 */
}

.crsl-item::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%; /* 그라데이션 높이 */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)); /* 어두운 그라데이션 */
    z-index: 1; /* 이미지 위에 배치 */
    pointer-events: none; /* 클릭 방지 */
}

.carousel-caption {
    position: absolute;
    z-index: 2;
    pointer-events: none; /* 클릭 방지 */
}

.crsl-title {
    text-align: left;
    font-family: 'Freesentation-9Black';
    font-size: 30px;
    margin: 0;
}

.crsl-sub {
    text-align: left;
}

.title-community {
    text-align: center;
    letter-spacing: 2px;
    margin-top: 50px;
}
.title-community>span {
    position: relative;
    display: inline-block;
    padding-bottom: 1em;
}

.hot-post {
    border: solid 1px #eee;
    border-radius: 10px;
    padding: 25px;
    width: 400px;
    box-sizing: border-box; /* 이거 용도가 뭘까 */
}

.hotpost-container {
    box-sizing: inherit;
}
.hotpost-title {
    margin: 5px 0 10px 0 !important;
    font-weight: bold !important;
}
.hotpost-item {
    margin: 0;
    padding: 5px 0;
    font-size: 13px;
}
.ranking {
    margin-right: 10px;
}