@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 0 !important;
    height: 1000px !important;
    background: whitesmoke !important;
}
a {
    text-decoration: none !important;
    color : black !important
}
h1, p{
    margin: 0 !important    ;
}

/* layout 설정 */

.nvb {
    background: white;
    padding: 20px;  
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}
.logo{
    font-family: 'PyeongChangPeace-Bold';
    font-size: 25px;
    padding-right: 10px;
}
.nvb a {
    margin-right: 15px;
}
.nav-right {
    margin-left: auto;
}

/* sign */

.sign-input {
    box-sizing: border-box;
    padding: 10px;
    display: block;
    margin-bottom: 10px;
}

.sign-btn {
    cursor: pointer;
}

/* 작성버튼 */
.write-btn {
    margin: 10px 20px;
    padding: 5px 10px;
    border: none;
    background: #757575;
    color: lightgray;
}


