body {
    margin: 0;
    height: 1000px;
    background: whitesmoke;
}
a {
    text-decoration: none;
    color : black
}
h1, p{
    margin: 0;
}

/* layout 설정 */


.navbar {
    background: white;
    padding: 20px;  
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}
.logo{
    font-size: 25px;
    padding-right: 10px;
}
.navbar a {
    margin-right: 15px;
}
.nav-right {
    margin-left: auto;
}

/* sign */

.sign-input {
    box-sizing: border-box;
    padding: 10px;
    display: block;
    margin-bottom: 10px;
}

.sign-btn {
    cursor: pointer;
}

/* 작성버튼 */
.write-btn {
    margin: 10px 20px;
    padding: 5px 10px;
    border: none;
    background: #757575;
    color: lightgray;
}


