@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0 !important;
    height: 100% !important;
    font-family: 'Pretendard-Regular' !important;
    background-color: white;
}
a {
    text-decoration: none !important;
    color : black !important;
}

h1 {
    font-size: 32px !important; /* 32px(기본값) */
    font-weight: bold !important;
}

h2 {
    font-size: 24px !important; /* 24px(기본값) */
    font-weight: bold !important;
}

h3 {
    font-size: 19px !important; /* 19px(기본값) */
    font-weight: bold !important;
}

h4 {
    font-size: 16px !important; /* 16px(기본값) */
    font-weight: bold !important;
}

h5 {
    font-size: 13px !important; /* 13px(기본값) */
    font-weight: bold !important;
}

h6 {
    font-size: 12px !important; /* 12px(기본값) */
    font-weight: bold !important;
}


/* layout 설정 */

.nvb {
    background: white;
    padding: 20px;  
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    border-bottom: 0.5px solid lightgray;
}
.logo{
    font-family: 'PyeongChangPeace-Bold';
    font-size: 25px;
    padding-right: 10px;
}
.nvb a {
    margin-right: 15px;
}
.nav-right {
    margin-left: auto;
}

.nav-center {
    color: #6b6b6b !important;
}

/* homepage 설정 */


#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 화면 전체 높이를 사용 */
}

footer {
    margin-top: auto; /* 푸터를 하단으로 밀어냄 */
    background-color: #1c1c1c; /* 예시 배경 색 */
    color: white;
    text-align: center;
    padding: 3.5rem 0;
}

/* sign */

.sign-input {
    box-sizing: border-box;
    padding: 10px;
    display: block;
    margin-bottom: 10px;
}

.sign-btn {
    cursor: pointer;
}

/* 작성버튼 */
.write-btn {
    margin: 10px 20px;
    padding: 5px 10px;
    border: none;
    background: #757575;
    color: lightgray;
}


